*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    margin:0
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

.button {
    display: inline-block;
   
    background-color: transparent;
    border: 4px solid orange;
    border-radius: 100px;
    padding: 22px 56px
}
    


svg {
    display: block
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color:unset;
}

h1, h2, h3, h4, h5, p {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* HEEADER!!! */

.header-container {
    background-color:transparent;
    z-index: 1000;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navigation-wrapper {
    display: flex;
    gap: 20px;
}

.navigation-wrapper > li > a {
    padding: 10px 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
}

.navigation-wrapper .sign-up {
    color:#FF3998;
}

.mobile-navigation {
    display: none;
}

/*  MAIN!!!! */

.section-1-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:10%
}

.content-wrapper {
    width: 40%;
}

.content-wrapper h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FF3998;
}

.content-wrapper h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 116px;
    color: #111111;
}

.content-wrapper p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #555555;
}

.section-1-hero-image {
    width:50%;
    display: flex;
    justify-content: center;   
}

.section-1-hero-image img {
    padding:30px;
}

.section-2 .upsell a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 154px 596px 64px 64px;
    background-color: #FF3939;
    border-radius: 20px
}





    